:root {
    --boxShadow: rgba(0, 0, 0, 0.3);
    --bodyBg: rgba(0, 0, 0, 0.774);
    --hover:  #2196F3;
    --active:  #00a2ff;
    --server: #00000050;
    --serverBorder: #000000;
    --serverTitle: rgba(255, 255, 255, 0.75);
  }

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--bodyBg);
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--boxShadow);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 1px;
}

.servers {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    align-content: center;
}

.server {
    flex-basis: 28%;
    height: 40vh;
    background-color: var(--server);
    margin: 5px;
    border: 1px solid var(--serverBorder);
    border-radius: 5px;
}

.server:hover {
    box-shadow: 0 0 8px var(--hover);
}

.server:active {
    box-shadow: 0 0 8px var(--active);
    border-color: var(--active);
}

.ignore {
    height: 150px;
}

.server-header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}

.server-title {
    margin: 0 auto;
    display: flex;
    font-size: 40px;
    line-height: 40px;
    color: var(--serverTitle);
    text-transform: capitalize;
}

.server-header img {
    height: 100px;
    padding: 10px;
}

.theme-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
}

.theme-img {
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 1800px) {
    .server {
        flex-basis: 100%;
    }
}


@media only screen and (max-width: 1000px) {
    .server-title {
        font-size: 60px;
    }

}